
.about-page {
  

  padding:0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(207, 190, 190, 0.9);
 
  

  @media only screen and (max-width: 768px){
     
    flex-direction: column;
    padding:0.2rem;
    }
  
  .fa-react{
    color: blue;
  }

  .fa-css3{
    color: blue;
  }

  .fa-html5{
    color: orange;
  }

  .fa-node{
    color: green;
  }
  .fa-js{
    color: rgb(204, 204, 20);
  }
  .fa-sass{
    color: rgb(197, 176, 179);
  }

  .fa-npm{
    color:red;
  }

  .fa-stripe{
    color:blue;
  }


  .content-gridp {
    
   
    margin: 0 0rem;
    background: rgba(255,255,255,0.9);
    border: 5px solid whitesmoke;
    padding: 1% 5%;
    box-sizing: border-box;
   
    border-radius: 10px;
    align-self: stretch;

    @media only screen and (max-width: 768px){
     
      margin:10px 0;
      }
   
    h1 {
    
      font-size: 3rem;
      color:rgb(68, 68, 68);
      
  
      @media only screen and (max-width: 768px){
       
        font-size: 2rem;
        }
    }
    
   

  
  }

  
  .about-wrapper {
    
  
    .about-content {
      font-size: 0.875rem;
      
      p {
        line-height: 1.8rem;
        display: block;
        color: black;
        padding: 1rem 0;
        font-size: 1.2rem;
          @media only screen and (max-width: 768px){
          padding: 0.5rem 0;
          font-size: 0.8rem;
          }

      }
    }

  }

  

  .content-grids {
    
    
    
    background: rgba(255,255,255,0.9);
    border: 5px solid whitesmoke;
    padding: 1rem 1rem;
    box-sizing: border-box;
    margin-left: 0.3rem;
   
    border-radius: 10px;
    align-self: stretch;

    
    @media only screen and (max-width: 768px){
       margin:0;
      
      }
 

    h1{
      color:rgb(241, 127, 26);
    
      margin: 0.5rem 1rem;
      text-align: center;
      font-size: 3rem;
      
      @media only screen and (max-width: 768px){
       
        font-size: 2rem;
        }
    }

    
    
      .skills-grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

      

        
        
        i{
          padding: 1rem 1rem;
          width: 75px;
          height: 75px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: transform 0.4s; 
          transform: perspective(1px) translateZ(0);
          
          &:hover,
          &:focus,
          &:active {
            transform: scale(1.1);
            
          }
          
        }

      

         
        
    
      }
  }
}