
.container{
    margin-bottom: 6rem;
    box-sizing: border-box;
   

    @media only screen and (max-width: 768px){
       border: none;
         
 }

    
}
.card{
    display: flex;
    flex-direction: row;
  

    @media only screen and (max-width: 768px){
           flex-direction: column;
            
    }
}

.tech-items{
    display: flex;
    flex-wrap: wrap;
    margin:0px;
    padding:0px;
}

li{
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 5px;
    list-style-type: none;
    border: 1px solid #22262a;
    background: white;
    color: rgba(17, 7, 7, 0.8);
    font-weight: 500;
    letter-spacing: 1px;

    @media only screen and (max-width: 768px){
        font-size: 0.8rem;
       
    }
}

    

.content{
    display: flex;
    flex-direction: column;
    height: 400px;
   
    h3{
        margin-bottom: 20px;
        margin-top: 0px;
    }
    p{
        @media only screen and (max-width: 768px){
               font-size: 0.8rem;
           
       }
    }

    .link-group{
        display: flex;
        height: 200px;
        justify-content: space-between;
        align-items: flex-end;

        a{
                min-width: 100px;
                width: auto;
                height: 50px;
                letter-spacing: 0.5px;
                line-height: 50px;
                padding: 0 35px 0 35px;
                font-size: 0.8rem;
                text-align: center;
                background-color: white;
                color:rgba(17, 7, 7, 0.8);
                text-transform: uppercase;
                font-family: 'Open Sans Condensed';
                font-weight: bolder;
                border: 1px solid black;
                cursor: pointer;
                transition:  0.3s ease-out;
                text-decoration: none;

                @media only screen and (max-width: 768px){
                    font-size: 0.2rem;
                    text-align: center;
                    padding: 0 15px;
                
                }

                &:hover {
                  background-color: #3c4858;
                  color: white;
                  border: 1px solid rgba(17, 7, 7, 0.8);
                  
                }     
              
        }
        
    }
 }

.img-content{
    display: flex;
    align-self: center;
    margin-right: 2rem;

   @media only screen and (max-width: 768px){
    margin-right: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;

    }

    img{
        
        height: 400px;
        width: 800px;

        @media only screen and (max-width: 768px){
                height: 200px;
                width: 300px;
               
            
            }
    }
 }
 
